form {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

input,
button {
  height: 35px;
  padding: 8px;
}

input {
  width: 85%;
  margin-right: 5px;

  border: none;
  background-color: #fff;
  color: #777777;
}

input:focus {
  outline: 2px solid #5c79e3;
}

button {
  width: 15%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

button:hover {
  transition: 0.2s;
  background-color: #5c79e3;
  cursor: pointer;
  border: none;
}
