section {
  max-width: 480px;
  padding: 20px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

header {
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

main {
  width: 100%;
}

@media screen and (max-width: 400px) {
  section {
    margin-top: 10px;
  }

  h1 {
    font-size: 1.6rem;
  }
}
